<div id="accordian" class="noselect">
	<ul>
		<li>
			<h3><span class="Arrow">&gt;</span>Rå Rum</h3>
			<ul>
				<li><a href="#"><span class="Arrow">&gt;</span>Hå ved Havet</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>PRORA 1:1000</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Villes Nouvelles</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Folies</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Abraxas</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Efter Kampagnen</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Vor Dem Gesetz</a></li>
			</ul>
		</li>
		<!-- we will keep this LI open by default -->
		<li>
			<h3><span class="Arrow">&gt;</span>Les Tour Fleuries</h3>
			<ul>
				<li><a href="#"><span class="Arrow">&gt;</span>Note</a></li>
			</ul>
		</li>
		<li>
			<h3><span class="Arrow">&gt;</span>Tageskarten</h3>
			<ul>
				<li><a href="#"><span class="Arrow">&gt;</span>Note</a></li>
			</ul>
		</li>
		<li>
			<h3><span class="Arrow">&gt;</span>Brilliant City</h3>
			<ul>
				<li><a href="#"><span class="Arrow">&gt;</span>Mandarinernes Have</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Foto-Mania</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Lygterne Slukkes</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Byen Forsvinder</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Asiatisk Puramide</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Migrant Campus</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Græshoppesamlerne</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Verden Vælter</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Tempel-Templer</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Nattens Facader</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Bryllupsfotografiet</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Brilliant City</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Note</a></li>
			</ul>
		</li>
		<li>
			<h3><span class="Arrow">&gt;</span>Reqem Vandring i Ørkenen</h3>
			<ul>
				<li><a href="#"><span class="Arrow">&gt;</span>Morgen</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Formiddag</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Middag</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Eftermiddag</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Aften</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Note</a></li>
			</ul>
		</li>
		<li>
			<h3><span class="Arrow">&gt;</span>Reqem Vandring i Ørkenen II</h3>
			<ul>
				<li><a href="#"><span class="Arrow">&gt;</span>Nedstigning fra El Deir</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Helligdom</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Turister</a></li>
			</ul>
		</li>
		<li>
			<h3><span class="Arrow">&gt;</span>Višegrad</h3>
			<ul>
				<li><a href="#"><span class="Arrow">&gt;</span>Note</a></li>
			</ul>
		</li>
		<li>
			<h3><span class="Arrow">&gt;</span>Troms</h3>
			<ul>
				<li><a href="#"><span class="Arrow">&gt;</span>Note</a></li>
			</ul>
		</li>
		<li>
			<h3><span class="Arrow">&gt;</span>Udstillinger</h3>
			<ul>
				<li><a href="#"><span class="Arrow">&gt;</span>Brilliant City</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Reqem Vandring i Ørkenen I &amp; II</a></li>
			</ul>
		</li>
	</ul>
</div>