<div id="accordian" class="noselect">
	<ul>
		<li>
			<h3><span class="Arrow">&gt;</span>Rå Rum</h3>
			<ul>
				<li><a href="#"><span class="Arrow">&gt;</span>Hå ved Havet</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>PRORA 1:1000</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Villes Nouvelles</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Folies</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Abraxas</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Efter Kampagnen</a></li>
				<li><a href="#"><span class="Arrow">&gt;</span>Vor Dem Gesetz</a></li>
			</ul>
		</li>
		<!-- we will keep this LI open by default -->
		<li>
			<h3><span class="Arrow">&gt;</span>Les Tour Fleuries</h3>
			<ul>
				<li><a href="#"><span class="Arrow">&gt;</span>Note</a></li>
			</ul>
		</li>
	</ul>
</div>